@import "tailwindcss";

:root {
  --background: #fafaf9;
  /* stone-50 */
  --foreground: #1c1917;
  /* stone-900 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-cairo);
  --color-brand: #F05A28;
}

body {
  background: var(--background);
  color: var(--foreground);
}